body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(145deg, #f0d18a, #f0b36b);
    font-family: Arial, sans-serif;
}

form {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    width: 300px;
    text-align: center;
}

label {
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
    display: block;
    text-align: left;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #f0b36b;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #d89555;
}

input, button, label {
    margin-bottom: 15px;
}
